@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.superset-embed-mount {
  position: relative;
  overflow: hidden;
}

.superset-embed-mount iframe {
  width: 100% !important;
  height: 100% !important;
  border: 0 !important;
  display: block;
}

